

body {
    margin: 0;
    padding: 0;
    font-family: 'letra texto general';
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/*FUENTES*/
@font-face {
    font-family: 'letra menu';
    src: url('fonts/menu/Galyon-Book.otf') format('truetype');
}

@font-face {
    font-family: 'letra pagina1';
    src: url('fonts/1/Bon-Voyage-2.otf') format('truetype');
}

@font-face {
    font-family: 'letra bienvenido';
    src: url('fonts/0/GarbataTrial-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'letra titulos';
    src: url('fonts/2/PPHatton-Medium.otf') format('truetype');
}

@font-face {
    font-family: 'letra texto general' ;
    src: url('fonts/3/Poppins-ExtraLight.otf') format('truetype');
}

@font-face {
    font-family: 'letra sentidos';
    src: url('fonts/sentidos/Le-Jour-Serif.ttf') format('truetype');
}


/*MENU*/

.fixed_nav {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 100;
    background-color: rgba(27, 27, 26, 0.151);
}
.fixed_menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 1vw 0;
    border-bottom: #fff solid 0.1vw
    
}
.fixed_menu li a {
    color: white;
    text-decoration: none;
    font-family: 'letra menu';
    font-size: 1.2vw; 
    padding: 1vw ;
    display: block;
    transition: 0.5s ease;
    line-height: 0;
    transition: 0.5s ease;
    
}
.fixed_menu li a:hover {
    text-decoration: underline;
    font-size: 1.8vw;
}

@media (max-width: 700px){
    .fixed_nav{
        display: none
    }
}

#palabra__sentidos {
    font-family: 'letra sentidos';
    font-size: 1.5vw;
}


/*PAGINA 1 PORTADA*/
.page_1 {
    display: flex;
    justify-content:space-between; 
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('images/Fondos/f2.png');
    background-size:cover;
    background-position: center;
}


.text_content_1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    margin-top: 10vw;
    margin-left: 3vw;
    align-self: flex-start;
    align-items: flex-start;
    animation: disminucion 2s ease-out forwards;
}
@keyframes disminucion {
    0% {
      transform: scale(1.2); /* Escala inicial (20% más grande) */
    }
    100% {
      transform: scale(1); /* Escala final (tamaño normal) */
    }
}

.bienvenido_1 {
    font-family: 'letra bienvenido';
    font-size: 8vw;
    color: #EFE3B8;
    line-height: 10vw;
    text-align: left;
}
h1 {
    font-family: 'letra sentidos';
    font-size: 10vw;
    color: #f5efe5;
    line-height: 90%;
    margin: 0 0 0.1vw 1vw;
    transition-property: all;
    transition: 2s;
    transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
}

h1:hover {
    font-size: 12vw;
    top: -3vw;
    transition-property: all;
    transition: 1s;
    transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
}

.bienvenido_2 {
    font-size: 3vw;
    color: #EFE3B8;
}

.Tarro {
    top: 0;
    animation: disminucion2 2s ease-out forwards;
}
@keyframes disminucion2 {
    0% {
      transform: scale(1.2); /* Escala inicial (20% más grande) */
    }
    100% {
      transform: scale(1); /* Escala final (tamaño normal) */
    }
}

#tarro {
    position: static;
    width: 100%;
    height: 100%;
    padding-right: 13vw;
    top: 0;
    transition-property: all;
    transition: 2s;
    transition-timing-function: cubic-bezier(0.25,0.1,0.25,1)
}
#tarro:hover {
    width: 36.5vw;
    top: -3vw;
    transition-property: all;
    transition: 1s;
    transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
}

@media (max-width: 700px)  {
    .page_1 {
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        background-image: url('images/Fondos/celu/f_1.png');
        height: 100vh;
    }

    .text_content_1 {
        margin-top: 15vh;
        margin-left: 3vh;
        align-items: left; 
        text-align: left;
    }

    .bienvenido_1 {
        margin-top: 3vw;
        font-size: 8vw; 
        text-align: left;
        line-height: 10vw;
    }

    h1 {
        font-size: 12vw; 
        line-height: 95%;
        margin: 0 0 1vw 0;
        text-align: left; 
    }

    .bienvenido_2 {
        font-size: 5vw; 
        text-align: left; 
    }

    #tarro {
    display: none;
    }
}


/*PAGINA 2 RAZON DE SER*/
.page_2 {
    display: flex;
    justify-content:flex-start; 
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('images/Fondos/f3.png');
    background-size:cover;
    background-position: center;
    flex-direction: row;
}

.text_content_2 {
    display: flex;
    flex-direction: column;
    font-size: 2.4vw;
    text-align: left;
    color: #EFE3B8;
    line-height: 3vw;
    margin-top: 1vw;
    margin-right: 4vw;
    margin-left: 4vw;

}
.Sentidos_2 {
    font-family: 'letra sentidos';
    font-size: 2.5vw;
    color: #F2EFEC;
}
#carouselExampleAutoplaying {
    align-self:flex-start ;
    width: 40vw
}


/*
@media (max-width: 700px){
    .page_2 {
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        background-image: url('images/Fondos/celu/f_2.png');
        height: 100vh;
    }

    .text_content_2 {
        font-size: 120%; 
        text-align: center; 
        margin-top: 9vw;
        margin-right: 2vw;
        margin-left: 2vw;
        line-height: 6vw; 
    }

    .Sentidos_2 {
        font-size: 100%; 
        text-align: center; 
    }

    #carouselExampleAutoplaying {
        width: 80vw; 
        margin-top: 2vw;
    }
}
*/
@media (max-width: 700px){
    .page_2 {
        display:flex;
        flex-direction: column;
        justify-content:space-around;
        align-items:center;
        height: 100vh;
    }

    .text_content_2{
        font-size: 130%;
        text-align:center;
        line-height: 5vw;
    }

    .Sentidos_2 {
        font-size: 0%; 
        text-align: center; 
    }

    #carouselExampleAutoplaying{
        width: 70vw;
    }
}

/*PAGINA 3 PRODUCTOS DESTACADOS*/
.page_3 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    display: grid;
    grid-template-areas: 
    "text img";
    margin: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    animation: backgroundAnimation 32s infinite; 
}
@keyframes backgroundAnimation  {
    0%, 25% {
        background-color: #FF959D; 
    }
    25%, 50% {
        background-color: #FF99BE; 
    }
    50%, 75% {
        background-color: #E397E2; 
    }
    75%, 100% {
        background-color: #B7B497; 
    }
}




.text-container {
    grid-area: text;
    padding: 0 2vw; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    
}


@keyframes slideAnimation {
    0%, 20% { opacity: 1; }
    25%, 100% { opacity: 0; }
}
.slide-text {
    font-family: 'letra titulos';
    font-size: 5vw;
    color: #EFE3B8;
    margin-top: -10vw;
    display: inline;

}
.slide-paragraph{
    font-size: 2.5vw;
    color: #EFEBDC;
    line-height: 2.5vw;
    position: relative;
    width: 100%;
    height: 100%;
}
.slide-paragraph p {
    position: absolute;
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    animation: slideAnimation 32s infinite;
    opacity: 0;
}
.slide-paragraph p.active {
    opacity: 0;
}
.slide-paragraph p:nth-child(1) {
    animation-delay: 0s;
}
.slide-paragraph p:nth-child(2) {
    animation-delay: 8s;
}
.slide-paragraph p:nth-child(3) {
    animation-delay: 16s;
}
.slide-paragraph p:nth-child(4) {
    animation-delay: 24s;
}

/* ---------- */
.slideshow {
    position: relative;
    width: 50vw;
    height: 100%;
    overflow: hidden;
    grid-area: img;
}
.slideshow img {
    position: absolute;
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    animation: slideAnimation 32s infinite;
    opacity: 0;
}
.slideshow img.active {
    opacity: 1;
}
.slideshow img:nth-child(1) {
    animation-delay: 0s;
}
.slideshow img:nth-child(2) {
    animation-delay: 8s;
}
.slideshow img:nth-child(3) {
    animation-delay: 16s;
}
.slideshow img:nth-child(4) {
    animation-delay: 24s;
}

@media (max-width: 700px) {
    .page_3 {
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
        height: 100vh;
        grid-template-areas: 
        "text"
        "img";
    }

    .text-container {
        text-align: center; 
        padding: 0 2vw; 
    }

    .slide-text {
        font-size: 230%;  
        margin-bottom: 9vw;
    }
    .page_3
    .slide-paragraph {
        font-size: 130%; 
        line-height: 5vw; /
    }

    .slideshow {
        margin-top: 38vw;
        margin: auto;
        width: 80%; 
        height: 50vh;
        place-items: center;
    }
}
/*PAGINA 4 BENEFICIOS*/
.page_4 {
    display: flex;
    justify-content:space-around; 
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('images/Fondos/f4.png');
    background-size:cover;
    background-position: center;
    flex-direction: column;
}

.imagenes_beneficios {
    margin-top: 2.4vw;
    padding: 2vw;
}
#b1{
    width: 17vw;
    padding-top: 1vw;
    padding-left: 5vw;
}
#b2, #b3 {
    width: 20vw;
    padding-left: 5vw;
}

.texto_beneficios {
    font-size: 2.3vw;
    text-align: center;
    padding-bottom: 1vw;
    color: #EFE3B8;
}

/*@media (max-width: 700px) {
    .page_4 {
        background-image: url('images/Fondos/celu/f_2.png'); 
        background-size: cover;
        background-position: center;
        width: auto;
        height: 100vh;
        display: flex;
        justify-content:center;
    }

    .imagenes_beneficios {
        margin-top: 6vw; 
    }

    #b1 {
        margin-left: 30vw;
        width: 40%; 
        max-width: none; 
        align-items: center;
    }
    #b2, #b3 {
        margin-left: 25vw;
        width: 48%; 
        max-width: none; 
        align-items: center;
    }

    .texto_beneficios {
        font-size: 100%; 
        padding: 3vw;
    }
}*/
@media (max-width: 700px){
    .page_4{
        display: flex;
        flex-direction: column;
    }

    .imagenes_beneficios{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    #b1{
        width: 46%;
    }
    #b2, #b3{
        width: 51%;
    }

    .texto_beneficios{
        font-size: 100%;
    }
}

/*PAGINA 5 TESTIMONIOS*/
.page_5 {
    position: relative;
    display: flex;
    justify-content:space-around; 
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.video-background {
    position: relative;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -2;
}
#background-video {
    height: 100%;
    left: 50%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#titulo_5 {
    font-family: 'letra titulos';
    color: #FFFFFF;
    margin-top: 8vw;
    padding: 1vw;

}
.page_5 h2 {
    font-size: 5vw;
    text-align: center;
}
#t1, #t2 {
    padding: 1vw 7vw 4vw;
    width: 40vw;
}
/*@media (max-width: 700px) {
    .page_5 {
        justify-content: center; 
        height: 100vh;
    }
    #titulo_5{
        font-size: 130%;
    }
    #t1, #t2{
        width: 100%;
    }
    .testimonios{
        display: flex;
        flex-direction: column;
    }
}*/

@media (max-width: 700px) {
    .page_5{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    #titulo_5{
        font-size: 130%;
    }
    .testimonios{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #t1, #t2{
        width: 80%;

}

/*PAGINA 6 CONTACTO*/
.page_6 {
    display: flex;
    justify-content:space-around; 
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('images/Fondos/f7.png');
    background-size:cover;
    background-position: center;
    flex-direction: column;
}

.parrafos{
    margin-top: 5vw;
    font-family: 'letra texto general';
    font-size: 2vw;
    text-align: right;
    align-self: end;
    padding: 4.5vw;
    color:#F2EFEC;
}


#boton1 a, #boton2 a, #boton3 a {
    color: #F2EFEC;
    text-decoration: none;
    transition: 0.5s ease;
    border-radius: 3vw;
    background-color: rgba(255, 166, 49, 0.699);
}

#boton1 a:hover, #boton2 a:hover, #boton3 a:hover {
    text-decoration: underline;
    font-size: 2.5vw;
}

/*@media (max-width: 700px) {
    .page_6 {
        background-image: url('images/Fondos/celu/f_7.png');
        height: 100vh;
        display:flex;
        justify-content: center;
    }

    .parrafos {
        top: 0;
        margin-top: 1vw; 
        font-size: 100%; 
        text-align: center; 
        line-height: 6vw;
        margin-bottom: 80vw;
    }

    #boton1, #boton2, #boton3 {
        padding: 2.5vw 4vw; 
        font-size: 4vw;
    }
}

#not-available {
    display: none;
    text-align: center;
    font-size: 24px;
    color: red;
}*/

@media (max-width: 700px){
    .page_6 {
        background-image: url('images/Fondos/celu/f_7.png');
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start; 
        padding-top: 20px; 
    }
    
    .parrafos {
        font-size: 120%;
        margin-top: 0; 
    }    
    #not-available{
        display: none;
    }
    }
}








/*RESPONSIVOS*/
  /* Estilos para tablets en orientación vertical */
@media (min-width: 600px) and (max-width: 1400px) and (orientation: portrait) {
    main, nav {
    display: none;
    }

    #not-available {
    display: block;
    }
}

@media (max-width: 540px) and (max-height: 720px) and (min-device-width: 540px) and (min-device-height: 720px), 
(max-width: 720px) and (max-height: 540px) and (min-device-width: 720px) and (min-device-height: 540px) {
    main, nav {
    display: none;
    }

    #not-available {
    display: block;
    }
}

@media (max-width: 290px) {
    main, nav {
    display: none;
    }

    #not-available {
    display: block;
    }
}
